extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-left-block
                span.b-black BLOG
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  / 
                span.b-line BLOG
    article.blog-list
        .blog-list-content.container
            .blog-note-container
                .blog-note
                    .note-share
                        a.share-date(href="#")
                            span.share-day 24
                            span.share-month апр
                        .share-smm-block
                            a.share-smm(href="#")
                                i.fab.fa-vk
                            a.share-smm(href="#")
                                i.fab.fa-facebook-f
                            a.share-smm(href="#")
                                i.fab.fa-twitter
                    .note-info
                        a.note-image(href="#")
                            img(src="/src/post1-660x371.jpg", alt="")
                        h4
                            |By 
                            a(href="#") autor 
                            |in 
                            a.note-category(href="#") Category-1
                            |, 
                            a.note-category(href="#") Category-2
                        a.note-h(href="#") TOP FURNITURE TRENDS IN THE MILLENNIUM NEW DIRECTIONS FOR FURNITURE IN THE 21ST CENTURY
                        p Furniture trends are dictated by who is buying what and why they’re doing it. Trends should not be confused with fads, which are fickle. Trends are the undercurrents that drive…
                .blog-note
                    .note-share
                        a.share-date(href="#")
                            span.share-day 24
                            span.share-month апр
                        .share-smm-block
                            a.share-smm(href="#")
                                i.fab.fa-vk
                            a.share-smm(href="#")
                                i.fab.fa-facebook-f
                            a.share-smm(href="#")
                                i.fab.fa-twitter
                    .note-info
                        a.note-image(href="#")
                            img(src="/src/post1-660x371.jpg", alt="")
                        h4
                            |By 
                            a(href="#") autor 
                            |in 
                            a.note-category(href="#") Category-1
                            |, 
                            a.note-category(href="#") Category-2
                        a.note-h(href="#") TOP FURNITURE TRENDS IN THE MILLENNIUM NEW DIRECTIONS FOR FURNITURE IN THE 21ST CENTURY
                        p Furniture trends are dictated by who is buying what and why they’re doing it. Trends should not be confused with fads, which are fickle. Trends are the undercurrents that drive…
                .blog-navigation
                    a.nav.nav-active(href="#") 1
                    a.nav(href="#") 2
                    a.nav-next(href="#") next 
                        i.fas.fa-chevron-right
            .blog-sidebar
                .sidebar-container
                    h3 SEARCH
                    .search-block
                        input.search-input(type="search", name="search", id="search", placeholder="Enter keyword...", autocomplete="off")
                        button.search-sub(type="submit") search