extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-left-block
                span.b-black BLOG
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  / 
                span.b-line BLOG
    article.blog-list
        .blog-list-content.container
            .blog-note
                .note-share
                    a.share-date(href="#")
                        span.share-day 24
                        span.share-month APR
                    a(href="#")
                        i.fab.fa-vk
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-twitter
                .note-info
                    a(href="#")
                        img.note-image(src="/src/post1-660x371.jpg", alt="")
                    h4
                        |By 
                        a(href="#") autor 
                        |in 
                        a(href="#") category
                    a.note-h(href="#") TOP FURNITURE TRENDS IN THE MILLENNIUM NEW DIRECTIONS FOR FURNITURE IN THE 21ST CENTURY
                    p.note-t Furniture trends are dictated by who is buying what and why they’re doing it. Trends should not be confused with fads, which are fickle. Trends are the undercurrents that drive…