extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-left-block
                span.b-black BLOG
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  / 
                span.b-line BLOG
    article.blog-list
        .blog-list-content.container