extends default

block content
    article.container
        h2 Добавление статьи
        br
        form(method="post", action="/blog-list-post", encType="multipart/form-data")
            label(for="autor") Автор
            br
            input#autor(type="text", name="autor")
            br
            br
            label(for="date") Дата
            br
            input#date(type="date", name="date")
            br
            br
            label(for="fileup") Прикрепить изображение для превью
            br
            input( type="file", name="fileup")
            br
            br
            label(for="tag_name") Тэги
            br
            input#tag_name(type="text", name="tag_name")
            br
            br
            label(for="title") Название
            br
            input#title(type="text", name="title")
            br
            br
            label(for="description") Описание
            br
            textarea#description(name="description", cols="100", rows="20")
            br
            br
            //label(for="files_p") Прикрепить изображения для статьи
            //br
            //input#files_p(type="file", name="files_p", multiple="multiple")
            //br
            //br
            input(type="submit", value="Отправить")