extends default

block content
    article.breadcrumbs
        .breadcrumbs-container.container
            .b-left-block
                span.b-black BLOG
            .b-right-block
                span You Are Here:
                span 
                    a.b-link(href="/") HOME
                span  / 
                span.b-line BLOG
    article.blog-list
        .blog-list-content.container
            .blog-note
                .note-share
                    a(href="#")
                        span.share-day 24
                        span.share-month APR
                    a(href="#")
                        i.fab.fa-vk
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-twitter
                .note-info
                    