extends default
block links_scripts
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/lodash.js")

block content
    block breadcrumbs
        article.breadcrumbs
            .breadcrumbs-container.container
                .b-left-block
                    span.b-black BLOG
                .b-right-block
                    span You Are Here:
                    span 
                        a.b-link(href="/") HOME
                    span  / 
                    span.b-line BLOG

    .blog-content.container
        block blog

        block sidebar
            .blog-sidebar
                .sidebar-container#search
                    h3 SEARCH
                    .search-block
                        input.input-all(v-model="query", v-on:input="debounceSave", type="text", name="search", placeholder="Enter keyword...")
                        ul(v-if="query != ''")
                            h4 Результаты поиска:
                            li(v-for="item in info") 
                                a(v-bind:href="'/blog/record?id=' + item._id") {{ item.title }}
                script.
                    const search_app = new Vue ({
                        el: '#search',
                        data: {
                            query: '',
                            info: ''
                        }, 
                        computed : {
                            debounceSave: function() {
                                if (this.query == '') {
                                    this.info = '';
                                };
                                return _.debounce(this.submitSearch, 1000);
                            }
                        },
                        methods: {
                            submitSearch() {
                                if (this.query != '') {
                                    axios.get('/blog/search', {params: {query_req: this.query}}).then(response => (this.info = response.data));
                                }
                                else {
                                    console.log('Массив пустой, ничего не выводим!');
                                }
                            }
                        }
                    })