extends default

block content
  article.breadcrumbs
    .breadcrumbs-container.container
      .b-left-block
        span.b-black CONTACTS
      .b-right-block
        span You Are Here:
        span 
          a.b-link(href="/") HOME
        span  / 
        span.b-line CONTACTS
  article.contacts
    .contacts-map#map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2113.3926375101983!2d56.2555346!3d58.0150519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6da62027ed5%3A0x5d09210cf8b09991!2z0J_QtdGA0LzRgdC60LDRjyDRg9C7LiwgMzAsINCf0LXRgNC80YwsINCf0LXRgNC80YHQutC40Lkg0LrRgNCw0LksIDYxNDA0NQ!5e0!3m2!1sru!2sru!4v1560496341663!5m2!1sru!2sru" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
    .contacts-info.container
      .contacts-info-data
        .ci-data-block
          .ci-icon
            i.fas.fa-mobile-alt
          .ci-block-contact
            h4 Phone:
            a(href="tel:89824420068") +7-982-442-00-68
        .ci-data-block
          .ci-icon
            i.fas.fa-map-marker-alt
          .ci-block-contact
            h4 Address:
            span г. Пермь, ул. Пермская, 30-170
        .ci-data-block
          .ci-icon
            i.fas.fa-envelope
          .ci-block-contact
            h4 E-mail:
            a(href="mailto:atradeperm@yandex.ru") atradeperm@yandex.ru
      .contacts-info-form
        form#comment-form(@submit.prevent="checkForm")
          .c-popup(v-if="popUpVisible")
            .c-popup-content 
              h3 {{ headerResponse }}
              p {{ response }}
              button.c-popup-button(type="button", v-on:click="popUpVisible = !popUpVisible")
                i.fas.fa-slash
                i.fas.fa-slash
          p(v-if="errors.length")
            b(style="color: #1E1D24") Пожалуйста исправьте указанные ошибки:
            ul 
              li(v-for="error in errors", style="color: #E44848") {{ error }}
          .ci-form-row-one
            .ci-form-col-one
              input#name.input-all.form-input(type="text", name="name", placeholder="Your Name", v-model="name", v-bind:class="{'form-input-invalid': nameIsNotFilled}")
              input#email.input-all.form-input(type="text", name="email", placeholder="Your E-mail", v-model="email", v-bind:class="{'form-input-invalid': emailIsNotFilled}")
              input#company.input-all.form-input(type="text", name="company", placeholder="Your Company", v-model="company")
            .ci-form-col-two
              textarea#comment(name="comment", placeholder="Your Comment", v-model="comment", v-bind:class="{'form-input-invalid': commentIsNotFilled}")
          .ci-form-row-two
            p We will contact you within one business day.
            input.btn-all(type="submit", value="send message")
        script.
          const app = new Vue ({
            el: '#comment-form',
            data: {
              errors: [],
              name: '',
              nameIsNotFilled: false,
              email: '',
              emailIsNotFilled: false,
              company: '',
              comment: '',
              commentIsNotFilled: false,
              headerResponse: '',
              response: '',
              popUpVisible: false
            },
            methods: {
              checkForm: function(e) {
                this.errors = [];
                
                if (!this.name || this.name == "") {
                  this.errors.push('Требуется указать имя.');
                  this.nameIsNotFilled = true;
                }
                else if (this.name != "") {
                  this.nameIsNotFilled = false
                }

                if (!this.email || this.email == "") {
                  this.errors.push('Требуется указать e-mail.');
                  this.emailIsNotFilled = true;
                }
                else if (this.email != "" && !this.checkEmail(this.email)) {
                  this.errors.push('E-mail: ' + this.email + ' не прошел проверку на формат. Проверьте корректность введенных данных.');
                  this.emailIsNotFilled = true;
                }
                else if (this.email != "" && this.checkEmail(this.email)) {
                  this.emailIsNotFilled = false
                }
                
                if (!this.comment || this.comment == "") {
                  this.errors.push('Требуется ввести комментарий.');
                  this.commentIsNotFilled = true;
                }
                else if (this.comment != "") {
                  this.commentIsNotFilled = false
                }

                if (!this.errors.length) {
                  return this.submitForm();
                }

                e.preventDefault();
              },
              checkEmail: function(email) {
                var reEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return reEmail.test(email);
              },
              submitForm() {
                axios.post('/contacts-post', {
                  name: this.name,
                  email: this.email,
                  company: this.company,
                  comment: this.comment
                }).then(response => {
                  if (response.status == 200) {
                    this.popUpVisible = true;
                    this.headerResponse = 'Уведомление';
                    this.response = 'Ваш запрос успешно отправлен';
                    this.name = '';
                    this.email = '';
                    this.company = '';
                    this.comment = '';
                  }
                  else {
                    this.popUpVisible = true;
                    this.headerResponse = 'Что то пошло не так...';
                    this.response = response.statusText;
                  }
                })
              }
            }
          })