extends default

block content
  article.breadcrumbs
    .breadcrumbs-container.container
      .b-left-block
        span.b-black CONTACTS
      .b-right-block
        span You Are Here:
        span 
          a.b-link(href="/") HOME
        span  / 
        span.b-line CONTACTS
  article.contacts
    .contacts-map#map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2113.3926375101983!2d56.2555346!3d58.0150519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6da62027ed5%3A0x5d09210cf8b09991!2z0J_QtdGA0LzRgdC60LDRjyDRg9C7LiwgMzAsINCf0LXRgNC80YwsINCf0LXRgNC80YHQutC40Lkg0LrRgNCw0LksIDYxNDA0NQ!5e0!3m2!1sru!2sru!4v1560496341663!5m2!1sru!2sru" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
    .contacts-info.container
      .contacts-info-data
        .ci-data-block
          .ci-icon
            i.fas.fa-mobile-alt
          .ci-block-contact
            h4 Phone:
            a(href="tel:89824420068") +7-982-442-00-68
        .ci-data-block
          .ci-icon
            i.fas.fa-map-marker-alt
          .ci-block-contact
            h4 Address:
            span г. Пермь, ул. Пермская, 30-170
        .ci-data-block
          .ci-icon
            i.fas.fa-envelope
          .ci-block-contact
            h4 E-mail:
            a(href="mailto:atradeperm@yandex.ru") atradeperm@yandex.ru
      .contacts-info-form
        form(action="")
          .ci-form-row-one
            .ci-form-col-one
              input#name.input-all(type="text", name="name")
              input#email.input-all(type="text", name="email")
              input#company.input-all(type="text", name="company")
            .ci-form-col-two
              textarea#comment(name="comment")
          .ci-form-row-two
            p We will contact you within one business day.
            input.btn-all(type="button", value="send message")
