extends default

block content
  article.slider
    main.main-content
      section.slideshow
        .slideshow-inner
          .slides
            .slide.is-active
              .slide-content
                .caption
                  .title Slide title 1
                  .text
                    p Slide description 1
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2015/07/Indispensable-1.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 2
                  .text
                    p Slide description 2
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2015/07/Indispensable-4-1.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 3
                  .text
                    p Slide description 3
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2016/11/11.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 4
                  .text
                    p Slide description 4
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2016/11/20mars17-sans-typo.jpg", alt="")
          .pagination
            .item.is-active
              span.icon1
            .item
              span.icon2
            .item
              span.icon3
            .item
              span.icon4
          .arrows
            .arrow.prev
              span.svg.svg-arrow-left
                svg#svg4-Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="14px", height="26px", viewBox="0 0 14 26", enable-background="new 0 0 14 26", xml:space="preserve") 
                  path(d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z")
                span.alt.sr-only
            .arrow.next
              span.svg.svg-arrow-right
                svg#svg5-Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="14px", height="26px", viewBox="0 0 14 26", enable-background="new 0 0 14 26", xml:space="preserve")
                  path(d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z")
                span.alt.sr-only
  article.about-us
    .about-us-container.container
      .item-1
        h1 About us
        p Roomswear is a furniture-producing company which items can be characterized as unique, non-conformist and authentic – never boring and always full of imagination and inspiration.
        p Roomswear succeeds for years in tracking down style icons, developing trends and innovations in furniture design, and using them to fulfil the dreams of furnishing enthusiasts.
        p With the courage to innovate, Roomswear creates trends and unique furnishing collections being affordable and desirable for all people. As an international supplier and generator of change Roomswear continues creating new furnishing designs and art objects.
      .item-2
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-pencil-alt.icon-about-us-svg
          .about-us-text
            h2 Exclusive design
            p Mixture of imagination, experience and professionalism is the secret of our design!
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-users.icon-about-us-svg
          .about-us-text
            h2 Professional Team
            p We are proud of our amicable, professional and always developing team!
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-tags.icon-about-us-svg
          .about-us-text
            h2 Reasonable Prices
            p We produce furniture to fulfill needs of all people and.offer it at affordable and fair prices
      .item-3
  article.offer
    .offer-container.container
      h1 What We.offer
      .offer-flexbox
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-1
              h2.offer-h2 chairs
              span.offer-from from
              span.offer-price 109.99
            .offer-card-face.offer-card-face-back
              h2.offer-h2 chairs
              span.offer-from from
              span.offer-price 109.99
              p.offer-p Defined by its soft, rounded form that hugs the body, our Modern Curved Chair experiments with tone and texture to make a statement in any room. Its two-toned design pairs smooth leather with richly-textured basket slub upholstery.
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-1.offer-card-back
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-2
              h2.offer-h2 tables
              span.offer-from from
              span.offer-price 300.99
            .offer-card-face.offer-card-face-back
              h2.offer-h2 tables
              span.offer-from from
              span.offer-price 300.99
              p.offer-p Our Glass-n-Wooden Coffee Table calls attention to sleek, modern lines and elegant form, placing a smooth, inset glass top on a geometric base made of intersecting pieces of brass-finished metal and lacquered wood.
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-2.offer-card-back
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-3
              h2.offer-h2 sofas
              span.offer-from from
              span.offer-price 1560.58
            .offer-card-face.offer-card-face-back
              h2.offer-h2 sofas
              span.offer-from from
              span.offer-price 1560.58
              p.offer-p When the gang's all home, there's no better place to be than our cozy, room-for-all Sofa Sectional. Its sheltering profile is plumped with two sizes of scatter back pillows, while its slim frame and flanged edges give it modern, streamlined style.
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-3.offer-card-back
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-4
              h2.offer-h2 enlightenment
              span.offer-from from
              span.offer-price 169.00
            .offer-card-face.offer-card-face-back
              h2.offer-h2 enlightenment
              span.offer-from from
              span.offer-price 169.00
              p.offer-p Stylish and elegant, chic and fancy glass lamps, chandeliers and wall sconce will add the note of luxury and style to your interior. Our best selections of enlightenment will please every person!
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-4.offer-card-back
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-5
              h2.offer-h2 textile
              span.offer-from from
              span.offer-price 600.99
            .offer-card-face.offer-card-face-back
              h2.offer-h2 textile
              span.offer-from from
              span.offer-price 600.99
              p.offer-p Enjoy our hand-made pillows and a wide selection of textile elements specially designed for your home. Our designers create both the most intricate and plain textile items that can decorate any room.
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-5.offer-card-back
        .offer-card
          .offer-card-inner
            .offer-card-face.offer-card-face-front.offer-card-6
              h2.offer-h2 decor
              span.offer-from from
              span.offer-price 19.99
            .offer-card-face.offer-card-face-back
              h2.offer-h2 decor
              span.offer-from from
              span.offer-price 19.99
              p.offer-p Our decor items and accessories add an artfully abstract touch to side tables and shelves alike. Our designers create the objects that can perfectly complete any of your interiors.
              a.offer-button(href="#") more
              .offer-card-backcolor
              .offer-card-6.offer-card-back
  article.metrics
    .metrics-container.container
      ul#counter.metrics-flexbox 
        li.metric-box
          i.fas.fa-umbrella-beach
          span.metric-sum.counter-value(data-count="9859") 150
          br
          span.metric-name Finished Projects
        li.metric-box
          i.fas.fa-pen-nib
          span.metric-sum.counter-value(data-count="8732") 450
          br
          span.metric-name New Designs
        li.metric-box
          i.fas.fa-ice-cream
          span.metric-sum.counter-value(data-count="1143") 50
          br
          span.metric-name Team Members
        li.metric-box
          i.fas.fa-star
          span.metric-sum.counter-value(data-count="2197") 90
          br
          span.metric-name Happy Clients
    script(type='text/javascript').
      var a = 0;
      $(window).scroll(function() {
        var oTop = $('#counter').offset().top - window.innerHeight;
        if (a == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count');
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 2000,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                }

              });
          });
          a = 1;
        }
      });
  