extends default

block content
  article
    main.main-content
      section.slideshow
        .slideshow-inner
          .slides
            .slide.is-active
              .slide-content
                .caption
                  .title Slide title 1
                  .text
                    p Slide description 1
                  a.btn(href="#")
                    span.btn-inner Learn More
                .image-container
              img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2015/07/Indispensable-1.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 2
                  .text
                    p Slide description 2
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2015/07/Indispensable-4-1.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 3
                  .text
                    p Slide description 3
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2016/11/11.jpg", alt="")
            .slide
              .slide-content
                .caption
                  .title Slide title 3
                  .text
                    p Slide description 3
                  a.btn(href="#")
                    span.btn-inner Learn More
              .image-container
                img.image(src="https://www.alixbdanthenay.fr/wp-content/uploads/2016/11/20mars17-sans-typo.jpg", alt="")
          .pagination
            .item is-active
              span.icon1
            .item
              span.icon2
            .item
              span.icon3
            .item
              span.icon4
          .arrows
            .arrow.prev
              span.svg.svg-arrow-left
                svg#svg4-Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="14px", height="26px", viewBox="0 0 14 26", enable-background="new 0 0 14 26", xml:space="preserve") 
                  path(d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z")
                span.alt.sr-only
            .arrow.next
              span.svg.svg-arrow-right
                svg#svg5-Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="14px", height="26px", viewBox="0 0 14 26", enable-background="new 0 0 14 26", xml:space="preserve")
                  path(d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z")
                span.alt.sr-only
  article.about-us
    .about-us-container.container
      .item-1
        h1 About us
        p Roomswear is a furniture-producing company which items can be characterized as unique, non-conformist and authentic – never boring and always full of imagination and inspiration.
        p Roomswear succeeds for years in tracking down style icons, developing trends and innovations in furniture design, and using them to fulfil the dreams of furnishing enthusiasts.
        p With the courage to innovate, Roomswear creates trends and unique furnishing collections being affordable and desirable for all people. As an international supplier and generator of change Roomswear continues creating new furnishing designs and art objects.
      .item-2
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-pencil-alt.icon-about-us-svg
          .about-us-text
            h2 Exclusive design
            p Mixture of imagination, experience and professionalism is the secret of our design!
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-users.icon-about-us-svg
          .about-us-text
            h2 Professional Team
            p We are proud of our amicable, professional and always developing team!
        .item-2-block.line-animation
          .about-us-icon
            i.fas.fa-tags.icon-about-us-svg
          .about-us-text
            h2 Reasonable Prices
            p We produce furniture to fulfill needs of all people and offer it at affordable and fair prices
      .item-3